* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;}
body {
    font-family: 'Noto Sans', sans-serif;
    line-height: 1.8rem;
    font-size: 1.1rem;
    background-color: #f1faee;
}

.logo {
    width: 300px;
}

.navflex {
   display: flex;
   justify-content: flex-end;
   width: 100%;
}

.navflex li a:hover {
    background-color: #92d6d8;
    border-radius: 10px;
    font-weight: bold;
}

.navcolor{
    background-color: #a8dadc;
}

.navred {
    display: flex;
    justify-content: space-between;
}
h1 {
    margin-bottom: 15px;
}

.carrousel {
    margin-top: 10px;
    border-radius: 5px;
}

.carroback {
    background-color: #66666683;
    font-weight: bold;
}

.carroback h5 {
    text-transform: uppercase;
    font-weight: bold;
}
.classp {
    margin: 10px;
    padding: 10px;
}
.contenedor {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-wrap: normal;
}

.contenedor2 {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.texto-central {
    margin-top: 25px;
    padding-bottom: 20px;
    border-bottom: #e63946 2px solid;
}

.texto-central p{
    text-align: left;
    line-height: 2rem;
    font-style: italic;
    font-size: 1.2rem;
    margin-top: 30px;
}

.noticias{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    background-color: #f7f8f7;
}
.filas {
    display: flex;
    flex-direction: row;
    padding: 10px;
}


.imagen-central {
    max-width: 100%;
    height: auto;
    padding: 10px;
    border: #fa848e 4px solid;
    border-radius: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.imagen-central img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.footercolor {
    background-color:  #457b9d;
    
}

.footredes {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin-left: -35px;
}

.footitle{
    text-transform: uppercase;
    font-weight: bold;
}

.footnos {
    list-style-type: none;
    margin-left: -30px;
}

.footnos li a {
    text-decoration: none;
}

.footredes li {
    padding: 5px;
}

.footredes img {
    width: 40px;
}

.quienes {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.quienes p {
    margin-top: 50px;
}

.quienes h1 {
    margin-top: 20px;
}

.filacliente {
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .imagencliente {
    display: inline-block;
    width: 30%;
    margin: 10px;
  }
  
  .imagencliente img {
    width: 100%;
    height: auto;
  }
  
  .imagencliente h3 {
    margin-top: 5px;
    font-size: 16px;
    font-weight: bold;
  }

  .filaservicios {
    width: 100%;
    text-align: center;
    margin-top: 30px;
    display: flex;
  }

  .imagenservicios {
    width: 33%;
    margin: 10px;
  }

  .imagenservicios img {
    width: 100%;
    height: auto;
  }

form {
    padding: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    color: #666;
  }
  
  input, textarea {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  input[type="submit"], input[type="reset"] {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    border: none;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover, input[type="reset"]:hover {
    background-color: #e63946;
  }
  