.logo {
  width: 300px;
}

.navflex {
  display: flex;
  justify-content: flex-end;
  width: 100%;

  li {
    a:hover {
      background-color: $hover-color;
      border-radius: 10px;
      font-weight: bold;
    }
  }
}

.navcolor {
  background-color: $navbar-color;

  .dropdown-menu {
    background-color: $navbar-color;

    .navred {
      display: flex;
      justify-content: space-between;
    }
  }
}
