.quienes {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;

    h1 {
        margin-top: 20px;
    }

    p {
        margin-top: 50px;
    }
}

.cardmar {
    margin-top: 70px;
    margin-bottom: 70px;
}

.card-title {
    text-transform: uppercase;
    text-align: center;
}

.card-text {
    font-style: italic;
    text-align: center;
}
